body {
    background: #141414;
    font-family: 'Martel Sans', sans-serif;
}
.px4pc {
    padding: 0 4%;
}
.logo, #searchBox  {
    padding: 16px 0px;
}
.logo {
    padding-left: 20px;
}
.logo img {
    position: relative;
    top: 4px;
}
#searchBox input, #searchButton {
    background: #000;
    color: #fff;
    height: 34px;
    border: 1px solid #fff;
    
}
.form-control:focus {
    box-shadow: none;
    border: inherit;
}
.explore ul, .explore span, .explore ul li {
    display: inline-block;
    padding: 0 .5rem;     
    line-height: 1;  
    color: grey;
}
.explore span {
    padding-left: 0;
}
.explore ul li a {
    color: #fff;      
}
.explore li {
    border-right: 1px solid grey;   
}
.explore li:last-child {
    border: none;
}
.explore ul li a:hover {
    color: #E50914;
    text-decoration: none;
}
.row-title h4 {
    color: #e4e4e4;
}